body{
  background-color: floralwhite;
  margin: 0;
  min-height: 100vh;

}

.body1{
  background-image: url("assets/blackbackground.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
}

.body2{
  background-image: url("assets/bluebackground.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  min-width: 100vw;
  height: 100vh;
  position: absolute;
}


.body2 .profileinfo {
  backdrop-filter: blur(10px);
}

.body3{
  background-image: url("assets/greenbackground.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  min-width: 100vw;
  height: 100vh;
  position: absolute;
}


.body3 .puttingbooks {
  backdrop-filter: blur(10px);
}

.body4{
  background-image: url("assets/multi.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  min-width: 100vw;
  height: 100vh;
  position: absolute;
}


.body4 .postauthor {
  backdrop-filter: blur(5px);
}

.body4 .postauthorr {
  backdrop-filter: blur(5px);
}

.body1 .forms {
  text-align: center;
  font-weight: bold;
  border: 2px solid rgba(192, 192, 192, 0.4);
  border-radius: 10px;
  margin-left: 40%;
  margin-top: 100px;
  min-width: 400px;
  max-width: fit-content;
  height: fit-content;
  backdrop-filter: blur(2px);

}

.forms form{
  padding: 50px;
}

.forms input {
  display: block;
  font-weight: bold;
}

.forms input:focus{
  outline-color: blue;
}

.forms h1 {
  font-family: sans-serif;
}

.i1{
  display: block;
  margin-top: 5%;
  width: 280px;
  height: 30px;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
}
.i2{
  display: block;
  margin-top: 20px;
  width: 280px;
  height: 30px;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
}
.i3{
  display: block;
  margin-top: 20px;
  width: 280px;
  height: 30px;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
}
.forms button{
  background-color: rgba(255, 255, 255, 0.53);
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  padding: 13px 55px;
  cursor: pointer;

}

.forms button:hover {
  background-color: rgba(255, 255, 255, 0.18);
  border: 1px solid;
  transition: 0.5s ease;
  color: aliceblue;
}

.loginmes {
  margin-top: 50px;
  margin-left: 48%;
  color: white;
}

.f1{
  background-color: rgba(255, 255, 255, 0.53);
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  margin-left: 48%;
  padding: 13px 55px;
  cursor: pointer;
}

.f1:hover {
  background-color: rgba(255, 255, 255, 0.18);
  border: 1px solid;
  transition: 0.5s ease;
  color: aliceblue;
}


.cards{
  margin-top: 30px;
  border: 2px solid;
  border-radius: 10px;
  max-width: 350px;
  height: 250px;
  float: left;
  margin-left: 20px;
  background-color: white;
  padding: 10px;
  list-style-type: none;
}
.cards:hover{
  border: 2px solid blue;
  transition: 0.1s ease;
}

.cardss{
  margin-top: 30px;
  border: 2px solid;
  border-radius: 10px;
  max-width: 150px;
  height: 150px;
  float: left;
  margin-left: 20px;
  background-color: white;
  padding: 10px;
  list-style-type: none;
}
.cardss:hover{
  border: 2px solid blue;
  transition: 0.1s ease;
}

.n1 {
  text-align: center;
}

.cards img {
  max-width: 250px;
  max-height: 150px;
}

#image1{
  max-width: 50px;
  border: 2px solid;
  border-radius: 10px;
  margin-left: 10px;

}

#image1:hover{
  border: 2px solid blue;
}

#image4{
  max-width: 50px;
  border: 2px solid;
  border-radius: 10px;
  margin-left: 35%;
}

#image4:hover{
  border: 2px solid blue;
}


.i22{
  width: 70px;
  border: 2px solid grey;
  background-color: rgba(112, 128, 144, 0.18);
  border-radius: 25px;
  padding: 5px;
  float: right;
}

.image2{
  max-width: 35px;
  border: 2px solid;
  border-radius: 15px;
  margin-left: 25%;
}



.image2:hover{
  border: 2px solid blue;
  cursor: pointer;
}



.cards h3 {
  float: left;
}

.container{
  max-width: fit-content;
  position: relative;
}

.dropdown{
  display: none;
  position: absolute;
}

.container:hover .dropdown{
  display: block;
}
.dropdown ul{
  margin: 0;
}

.dropdown li{
  list-style-type: none;
  border: 1px solid;
  display: block;
  padding: 10px 25px;
  background-color: dimgrey;
  max-width: 100px;
}

.dropdown li:hover{
  background-color: darkgrey;
  cursor: pointer;
}

#profileh2{
  text-align: center;

}

.profileinfo{
  border: 3px solid #6b32dd;
  border-radius: 15px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.profileinfo img{
  margin-top: 10px;
}




.bookupload{
  border: 3px solid rgba(255, 255, 255, 0.38);
  text-align: center;
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 30vw;
  margin-top: 20vh;
  box-shadow: 4px 5px rgba(105, 105, 105, 0.44);
  float: left;
}

.bookupload input{
  font-weight: bold;
  border-radius: 5px;
}

.booki1{
  padding: 10px 15px;
  display: block;
}
.booki2{
  padding: 10px 15px;
  display: block;
  margin-top: 20px;
}
.booki3{
  padding: 10px 15px;
  display: block;
  margin-top: 20px;
}
.booki4{
  padding: 10px 15px;
  display: block;
  margin-top: 20px;
  float: left;
}
.booki5{
  padding: 10px 15px;
  display: block;
  margin-top: 20px;
  margin-left: 370px;
  max-width: 150px;
  border: 2px solid;
  border-radius: 10px;
  background-color: dimgrey;
}

.booki5:hover{
  background-color: rgba(255, 255, 255, 0.18);

  transition: 0.5s ease;
  cursor: pointer;
  border: 2px solid;
  color: whitesmoke;
}



.tb1{
  margin-top: 170px;
  margin-left: 30px;
  width: 30px;
  float: left;
}
.tb1 p {
  display: none;
}
.tb1:hover p{
  display: inline-block;
  font-weight: bold;
  width: 230px;
}

.tb2{
  margin-top: 300px;
  margin-left: -20px;
  width: 30px;
  float: left;
}
.tb2 p {
  display: none;
}
.tb2:hover p{
  display: inline-block;
  font-weight: bold;
  width: 230px;
  color: aliceblue;
}

.t2 button{
  border: none;
  width: 20px;
  height: 20px;
  background: none;
  color: aliceblue;
}

.searching{
  text-align: center;
}
.searchingg{
  text-align: center;
}

.searchingg main{
  border: 2px solid;
  max-height: 100px;
  max-width: 500px;
  margin-left: 30%;
}

.searchingg section{
  padding: 20px;
  text-align: left;
}

.searchingg section input{
  width: 300px;
  height: 55px;
  text-align: left;
  font-size: 1.5rem;
  border-radius: 5px;
}
.searchingg section button{
  float: right;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: slategrey;
  color: aliceblue;
}

.searchingg button:hover{
  background-color: darkslategrey;
  transition: 0.5s ease;
  cursor: pointer;
}

#s21{
  height: 45px;
  margin-left: 20px;
  width: fit-content;
}
#s21:hover{
  cursor: pointer;
}

#loi{
  /*border: 2px solid;*/
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.s11{
  height: 40px;
  width: 300px;
  display: inline-block;
  margin-bottom: 200px;
  font-weight: bold;
  font-size: medium;
  border-radius: 25px;
}

.s11:focus{
  outline-color: darkblue;
}

.singleBook{
  display: flex;
  text-align: left;
  padding: 10px 15px;
  min-height: 300px;
  border: 2px solid;
  border-radius: 10px;
  width: 70vw;
  color: white;
}
.singleBook img{
  border-right: 2px solid;
  padding-right: 15px;
  padding-left: 10px;
}

.text-column{
  flex-grow: 1;
  padding-left: 15px;
  color: white;
}

.authorfact{
  border: 2px solid;
  border-radius: 10px;
  width: fit-content;
  padding: 10px 15px;
  float: right;
  margin-bottom: auto;
  display: inline-block;
}

.authorget{
  font-size: 2rem;
  margin-left: 40%;
  border: 3px solid rgba(255, 255, 255, 0.44);
  border-radius: 10px;
  width: fit-content;
  padding: 10px 15px;
  display: inline-block;
  box-shadow: 2px 2px black;

}
.authorget p {
  text-align: center;
  font-weight: bold;
}

.puttingbooks{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 2px solid white;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.puttingbooks input{
  display: block;
  margin-top: 20px;
  padding: 10px 5px;
  width: 20vw;
  border-radius: 5px;
  box-shadow: 2px 2px darkslategrey;
  font-weight: bold;
}

.puttingbooks input:focus{
  outline-color: darkblue;
  box-shadow: 2px 2px darkblue;
}

.puttingbooks button{
  margin-top: 30px;
  margin-left: 120px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: slategrey;
  color: aliceblue;
}

.puttingbooks button:hover{
  background-color: darkslategrey;
  transition: 0.5s ease;
  cursor: pointer;
}

.postauthor{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 2px solid white;
  width: fit-content;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  border-radius: 10px;
}
.postauthor input{
  display: block;
  margin-top: 30px;
  padding: 10px 5px;
  width: 20vw;
  height: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px darkslategrey;
  font-weight: bold;
}


.postauthor input:focus{
  outline-color: darkblue;
  box-shadow: 2px 2px darkblue;
}

.postauthor button{
  margin-top: 30px;
  margin-left: 120px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: slategrey;
  color: aliceblue;
}

.postauthor button:hover{
  background-color: darkslategrey;
  transition: 0.5s ease;
  cursor: pointer;
}

#po{
  font-size: 1.5em;
  border: 0 ;
  padding: 10px 20px;
  background-color: #50ef50;
  text-align: center;
}

#pl{
  font-size: 1.5em;
  border: 0 ;
  padding: 10px 20px;
  background-color: #fd0808;
  text-align: center;
}


.postauthorr{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: fit-content;
  margin: auto;
  margin-top: 160px;
  padding: 20px;
  border-radius: 10px;
}


.postauthorr input{
  display: block;
  margin-top: 30px;
  padding: 10px 5px;
  width: 20vw;
  height: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px darkslategrey;
  font-weight: bold;
}

.postauthorr input:focus{
  outline-color: darkblue;
  box-shadow: 2px 2px darkblue;
}

.postauthorr button{
  margin-top: 30px;
  padding: 10px 25px;
  border: 1px;
  border-radius: 5px;
  background-color: slategrey;
  color: aliceblue;
}

.postauthorr button:hover{
  background-color: rgba(128, 128, 128, 0.3);
  transition: 0.5s ease;
  cursor: pointer;
  border: 1px solid white;
}


@media screen and (max-width: 600px) {
  .singleBook {
    width: 65vh;
  }
}
