body{
  background-color: floralwhite;
}

.forms {
  text-align: center;
  font-weight: bold;
}
.forms input {
  display: block;
  font-weight: bold;
}

.forms input:focus{
  outline-color: blue;
}

.forms h1 {
  margin-top: 100px;
  font-family: sans-serif;
  margin-left: 30px;
}

.i1{
  display: block;
  margin-left: 45%;
  margin-top: 5%;
  width: 200px;
  height: 30px;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
}
.i2{
  display: block;
  margin-left: 45%;
  margin-top: 20px;
  width: 200px;
  height: 30px;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
}
.i3{
  display: block;
  margin-left: 45%;
  margin-top: 20px;
  width: 200px;
  height: 30px;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
}
.forms button{
  background-color: turquoise;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  margin-left: 50px;
  padding: 13px 55px;
  cursor: pointer;

}

.forms button:hover {
  background-color: rgba(64, 224, 208, 0.67);
  border: 1px solid;
  transition: 0.5s ease;
}

.forms .loginmes {
  margin-top: 89px;
  margin-left: 40px
}

.cards{
  margin-top: 30px;
  border: 2px solid;
  border-radius: 10px;
  max-width: 350px;
  height: 250px;
  float: left;
  margin-left: 20px;
  background-color: white;
  padding: 10px;
}
.cards:hover{
  border: 3px solid blue;
  transition: 0.1s ease;
}

.n1 {
  text-align: center;
}

.cards img {
  max-width: 250px;
  max-height: 150px;
}

#image1{
  max-width: 50px;
  border: 2px solid;
  border-radius: 10px;
  margin-left: 10px;
}

#image1:hover{
  border: 2px solid blue;
}


.image2{
  max-width: 60px;
  border: 2px solid;
  border-radius: 10px;
  float: right;
  margin-top: -50px;
}



#image2:hover{
  border: 2px solid blue;
}

.cards h3 {
  float: left;
}

.container{
  max-width: fit-content;
  position: relative;
}

.dropdown{
  display: none;
  position: absolute;
}

.container:hover .dropdown{
  display: block;
}
.dropdown ul{
  margin: 0;
}

.dropdown li{
  list-style-type: none;
  border: 1px solid;
  display: block;
  padding: 10px 25px;
  background-color: dimgrey;
  max-width: 100px;
}

.dropdown li:hover{
  background-color: darkgrey;
  cursor: pointer;
}

#profileh2{
  text-align: center;

}

.profileinfo{
  border: 3px solid black;
  border-radius: 15px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  background-color: aliceblue;
}

.profileinfo img{
  margin-top: 10px;
}


.bookupload{
  border: 3px solid;
  text-align: center;
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 30vw;
  margin-top: 20vh;
  box-shadow: 4px 5px dimgrey;
  float: left;
}

.bookupload input{
  font-weight: bold;
  border-radius: 5px;
}

.booki1{
  padding: 10px 15px;
  display: block;
}
.booki2{
  padding: 10px 15px;
  display: block;
  margin-top: 20px;
}
.booki3{
  padding: 10px 15px;
  display: block;
  margin-top: 20px;
}
.booki4{
  padding: 10px 15px;
  display: block;
  margin-top: 20px;
  float: left;
}
.booki5{
  padding: 10px 15px;
  display: block;
  margin-top: 20px;
  margin-left: 370px;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  background-color: dimgrey;
}

.booki5:hover{
  background-color: darkgrey;
  transition: 0.5s ease;
}

.tb1{
  margin-top: 170px;
  margin-left: 30px;
  width: 30px;
  float: left;
}
.tb1 p {
  display: none;
}
.tb1:hover p{
  display: inline-block;
  font-weight: bold;
  width: 230px;
}
.t2 button{
  border: none;
  background-color: floralwhite;
}